@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/MainLayout.cshtml";

}
<!-- breadcrumb-section -->
<div class="hero-area AboutUs-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">

                        <h1 style="font-size: 90px;">About Us</h1>
                        <a href="#Why" class="boxed-btn">Why NoCats</a>
                        <a href="#Team" class="bordered-btn">Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="feature-bg" id="Why">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Why <span class="orange-text">NoCats</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Home Delivery</h3>
                                    <p>We offer Delivery to your door steps in a short time</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Best Price</h3>
                                    <p>We are Proud to offer you the best and most Affordable price in the market</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Quick Refund</h3>
                                    <p>We offer an easy and quick refund within 7 days of purchasing our products</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end featured section -->
<!-- team section -->
<div class="mt-150" id="Team">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Our <span class="orange-text">Team</span></h3>
                    <p>
                        "Dedicated to delivering excellence, every day."



                    </p>
                </div>
            </div>
        </div>
        <div class="Team-Container">

            <div class="col-lg-4 col-md-6 align-items-center">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Amer Amora<span>Developer</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- end team section -->

