
@{
    ViewBag.Title = "Testimonial";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/assets/TestimonialAssets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/assets/TestimonialAssets/css/main.css">
    <!--===============================================================================================-->
    <style>
        body {
        background-color:darkred
        }

        .input-file-container {
            position: relative;
            width: 225px;
        }

        .js .input-file-trigger {
            display: block;
            padding: 14px 45px;
            background: #e6e6e6;
            color: #666666;
            font-size: 1em;
            transition: all .4s;
            cursor: pointer;
        }

        .js .input-file {
            position: absolute;
            top: 0;
            left: 0;
            width: 225px;
            opacity: 0;
            padding: 14px 0;
            cursor: pointer;
        }

            .js .input-file:hover + .input-file-trigger,
            .js .input-file:focus + .input-file-trigger,
            .js .input-file-trigger:hover,
            .js .input-file-trigger:focus {
                background: #34495E;
                color: #39D2B4;
            }

        .file-return {
            margin: 0;
        }

            .file-return:not(:empty) {
                margin: 1em 0;
            }

        .js .file-return {
            font-style: italic;
            font-size: .9em;
            font-weight: bold;
        }

            .js .file-return:not(:empty):before {
                content: "Selected file: ";
                font-style: normal;
                font-weight: normal;
            }






        /* Useless styles, just for demo styles */


        h1, h2 {
            margin-bottom: 5px;
            font-weight: normal;
            text-align: center;
            color: #aaa;
        }

        h2 {
            margin: 5px 0 2em;
            color: #1ABC9C;
        }

        form {
            width: 225px;
            margin: 0 auto;
            text-align: center;
        }

        h2 + P {
            text-align: center;
        }

        .txtcenter {
            margin-top: 4em;
            font-size: .9em;
            text-align: center;
            color: #aaa;
        }

        .copy {
            margin-top: 2em;
        }

            .copy a {
                text-decoration: none;
                color: #1ABC9C;
            }
    </style>
</head>
<body>
    <div class="breadcrumb-section" style="background-image: url(../../assets/img/Contactus.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Send us your feedback</p>
                        <h1>Testimonial</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact1">
        <div class="container-contact1">
            <div class="contact1-pic js-tilt" data-tilt>
                <img src="~/assets/TestimonialAssets/images/img-01.png" />"
            </div>
            @using (Html.BeginForm("Testimonial", "Home", FormMethod.Post, new { enctype = "multipart/form-data",@class= "contact1-form validate-form" }))
            {
                <span class="contact1-form-title">
                    Send your Testimonial
                </span>

                <div class="wrap-input1 validate-input" data-validate="Name is required">
                    <input required class="input1" type="text" name="UserName" placeholder="Name">
                    <span class="shadow-input1"></span>
                </div>


                <div class="wrap-input1 validate-input" data-validate="Message is required">
                    <textarea required class="input1" name="userMessage" placeholder="Message"></textarea>
                    <span class="shadow-input1"></span>
                </div>
                <div class="input-file-container">
                    <input required class="input-file" id="my-file" type="file" name="userImage">
                    <label tabindex="0" for="my-file" class="input-file-trigger">User Picture...</label>
                </div>
                <p class="file-return"></p>
                <br />


                <div class="container-contact1-form-btn">
                    <input type="submit" class="contact1-form-btn" />
                </div>
                }
</div>
    </div>




    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>

    <!--===============================================================================================-->
    <script src="~/assets/TestimonialAssets/js/main.js"></script>
    <script>

        document.querySelector("html").classList.add('js');

        var fileInput = document.querySelector(".input-file"),
            button = document.querySelector(".input-file-trigger"),
            the_return = document.querySelector(".file-return");

        button.addEventListener("keydown", function (event) {
            if (event.keyCode == 13 || event.keyCode == 32) {
                fileInput.focus();
            }
        });
        button.addEventListener("click", function (event) {
            fileInput.focus();
            return false;
        });
        fileInput.addEventListener("change", function (event) {
            the_return.innerHTML = this.value;
        });
    </script>

</body>
</html>

